@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-option {
        @apply flex flex-col items-start mx-[10px] text-white
    }

    .header-option-2 {
        @apply hidden md:flex md:flex-col items-start mx-[10px] text-white
    }

    .first-line {
        @apply text-[10px]
    }

    .second-line {
        @apply text-[13px] font-[800]
    }

    .pay-section {
        @apply flex p-[20px] my-0 mx-[20px] border-b border-b-gray-300
    }

    .pay-title {
        @apply flex-[0.2]
    }
}

body {
    background-color: rgb(234, 237, 237);
}

.mask {
    z-index: -10;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.b-color {
    border-color: #a88734 #9c7e31 #846a29;
}